*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/Oswald-Regular.ttf"); }

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/Oswald-Medium.ttf"); }

.content-section {
  position: relative;
  display: flex;
  width: 100%; }

.content-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 87%; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 30; }

.burger--open {
  height: auto;
  border-bottom: none; }

.burger--open .content-section__wrapper {
  width: 100%; }

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px; }

.burger--open .burger {
  border-bottom: 1px solid #e6e6e6; }

.burger__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; }

.burger--open .burger__wrapper {
  width: 87%; }

/*BURGER*/
.burger__toggle {
  display: none; }

.burger__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 26px;
  height: 22px;
  cursor: pointer; }

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000; }

.burger__btn > span::before {
  content: '';
  top: -8px; }

.burger__btn > span::after {
  content: '';
  top: 8px; }

.burger__toggle:checked ~ .burger__btn > span {
  transform: rotate(45deg); }

.burger__toggle:checked ~ .burger__btn > span::before {
  top: 0;
  transform: rotate(0); }

.burger__toggle:checked ~ .burger__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

.navigation {
  display: none; }

.burger--open .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  width: 100%; }

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; }

.banner {
  height: 480px; }

.banner-bg__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.banner-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 440px;
  height: 100%;
  margin: 0 auto;
  background: url("../../img/index-banner-bg--mobile.png") no-repeat;
  background-size: contain; }

.banner__can {
  position: absolute;
  margin: 0 auto;
  right: 0;
  bottom: 40px;
  left: 0; }

.banner .content-section__wrapper {
  justify-content: space-between;
  max-width: 440px;
  height: 100%; }

.banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px; }

.banner__title {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 36px;
  color: #ffffff; }

.banner__subtitle {
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase; }

.banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #68b738;
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.categories-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 266px;
  background: #f2f2f2;
  margin-top: 20px; }

.categories-item__wrapper {
  display: flex;
  flex-direction: column;
  width: 86%; }

.categories-item__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }

.categories-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; }

.categories-item__header-wrapper {
  width: 80px; }

.categories-item__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase; }

.categories-item__text {
  height: 90px;
  margin-bottom: 18px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #444444; }

.categories-item__separator {
  width: 100%;
  height: 1px;
  margin-bottom: 18px;
  background: #d9d9d9; }

.categories-item__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  text-decoration: none; }

.categories-item__link-title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase; }

.title {
  width: 100%;
  margin: 30px 0 40px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: #000000; }

.advantages {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px; }

.advantages-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }

.advantages-item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background: #68b738; }

.advantages-item__text {
  width: 70%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 1.3; }

.results {
  padding-bottom: 40px;
  background: #f2f2f2; }

.results__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }

.results__text {
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 1.3; }

.results__showing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.results__showing-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px; }

.results__showing-wrapper {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  background: #f2f2f2; }

.results__showing-title {
  width: 60px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 0.9;
  color: #444444; }

.results__showing-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase; }

.results__showing-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase; }

.contacts .content-section__wrapper {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0; }

.contacts__title {
  width: 50%;
  height: 70px;
  font-family: "Oswald Regular", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase; }

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  height: 67px; }

.contacts__sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.contacts__address {
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 1.7;
  font-size: 14px; }

.contacts__city {
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 1.4;
  font-size: 14px; }

.map div {
  height: 362px !important; }

.map iframe {
  height: 362px !important; }

.footer {
  background: #f2f2f2; }

.footer .content-section__wrapper {
  padding: 40px 0 20px; }

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d9d9d9; }

.footer__link-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9; }

.footer__socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 125px; }

.footer__socials-item {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__socials-item-logo {
  display: flex; }

.footer__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.footer__author-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444444;
  text-decoration: none; }

.footer__author-link {
  display: flex; }
