:root {
  --x-color-light-gray: #f2f2f2;
  --x-color-green: #68b738;
  --x-color-white: #ffffff;
  --x-color-black: #000000;
  --x-color-gray: #444444;

  --x-color-light-black: #111111;

  --x-color-darker-gray: #eaeaea;


  --palette-bg-primary: var(--x-color-light-gray);
  --palette-bg-secondary: var(--x-color-white);
  --palette-bg-tertiary: var(--x-color-green);
  --palette-bg-burger: var(--x-color-black);

  --gradient-light-gray: linear-gradient(to bottom, var(--x-color-white) 0%, var(--x-color-white) 30%, var(--x-color-light-gray) 30%, var(--x-color-light-gray) 100%);
  --gradient-gray: linear-gradient(to bottom, var(--x-color-white) 0%, var(--x-color-white) 30%, var(--x-color-darker-gray) 30%, var(--x-color-darker-gray) 100%);
}
