$x-color-light-gray: #f2f2f2;
$x-color-green: #68b738;
$x-color-white: #ffffff;
$x-color-black: #000000;
$x-color-gray: #444444;


$palette-bg-primary: $x-color-light-gray;
$palette-bg-secondary: $x-color-white;
$palette-bg-tertiary: $x-color-green;
$palette-bg-burger: $x-color-black;
