.advantages-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.advantages-item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background: #68b738;
}

.advantages-item__text {
  width: 70%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 1.3;
}
