.advantages-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.advantages-item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background: var(--palette-bg-tertiary);
}

.advantages-item__text {
  width: 70%;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  color: var(--text-color-secondary);
  line-height: 1.3;
}

.advantages-item__sub-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .advantages-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 245px;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .advantages-item__wrapper {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .advantages-item__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }

  .advantages-item__sub-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
  }

  .advantages-item__number {
    display: flex;
    font-family: var(--font-family-primary);
    font-weight: normal;
    font-size: 281px;
    line-height: 202px;
    color: var(--x-color-light-gray);
  }
}

@media (min-width: 1024px) {
  .advantages-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 245px;
    margin-bottom: 0;
    margin-right: 80px;
  }
}

@media (min-width: 1400px) {
  .advantages-item {
    margin-bottom: 0;
    margin-right: 0;
  }
}

