.banner {
  height: 480px;
}

.banner-bg__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 440px;
  height: 100%;
  margin: 0 auto;
  background: url("../img/index-banner-bg--mobile.png") no-repeat;
  background-size: contain;
}

.banner-bg__image {
  display: none;
}

.banner__can {
  position: absolute;
  margin: 0 auto;
  right: 0;
  bottom: 40px;
  left: 0;
}

.banner .content-section__wrapper {
  justify-content: space-between;
  max-width: 440px;
  height: 100%;
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
}

.banner__title {
  margin-bottom: 25px;
  text-align: center;
  font-family: var(--font-family-primary);
  font-weight: normal;
  line-height: 1;
  font-size: 36px;
  color: var(--text-color-tertiary);
}

.banner__subtitle {
  text-align: center;
  font-family: var(--font-family-primary);
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  color: var(--text-color-tertiary);
  text-transform: uppercase;
}

.banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: var(--palette-bg-tertiary);
  font-family: var(--font-family-primary);
  font-size: 14px;
  color: var(--text-color-tertiary);
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .banner {
    height: 870px;
  }

  .banner-bg {
    max-width: unset;
    background: var(--palette-bg-secondary);
  }

  .banner__can {
    bottom: 0;
  }

  .banner .content-section__wrapper {
    align-items: flex-start;
    max-width: unset;
    height: 280px;
    padding-left: 90px;
    margin-top: 60px;
  }

  .banner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }

  .banner__title {
    margin-bottom: 40px;
    text-align: left;
    font-size: 60px;
    color: var(--text-color-primary--tablet);
  }

  .banner__subtitle {
    font-size: 20px;
    color: var(--text-color-primary--tablet);
  }

  .banner__button {
    width: 245px;
    height: 52px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .banner {
    height: 696px;
    margin: -110px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-bg {
    max-width: unset;
    background: var(--palette-bg-secondary);
  }

  .banner-bg__image {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }

  .banner__can {
    bottom: 50px;
    left: 240px;
  }
}
