.check {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.check__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin-bottom: 13px;
  font-family: var(--font-family-primary);
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
}

.check__box:after {
  content: "";
  position: absolute;
  display: none;
}

.check__input:checked ~ .check__box:after {
  display: block;
}

.check__box:after {
  left: 10px;
  top: 2px;
  width: 9px;
  height: 20px;
  border: solid var(--palette-bg-tertiary);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .check {
    width: 44%;
  }

  .check__container {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .check__box {
    width: 40px;
    height: 40px;
    margin-right: 17px;
  }

  .check__box:after {
    left: 15px;
    top: 6px;
    width: 9px;
    height: 20px;
    border: solid var(--palette-bg-tertiary);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
