.contacts__main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}

.contacts__title {
  width: 50%;
  height: 70px;
  font-family: var(--font-family-primary);
  line-height: 1.4;
  font-size: 16px;
  color: var(--text-color-primary);
  text-transform: uppercase;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  height: 67px;
}

.contacts__sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__address {
  font-family: var(--font-family-secondary);
  font-style: normal;
  line-height: 1.7;
  font-size: 14px;
}

/*CATALOG*/

.catalog .contacts {
  background: var(--palette-bg-primary);
}


@media (min-width: 768px) {
  .contacts__main {
    padding: 65px 0;
    width: 90%;
  }

  .contacts__title {
    width: 50%;
    height: 70px;
    line-height: 1.25;
    font-size: 20px;
    color: var(--text-color-primary--tablet);
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 67px;
  }

  .contacts__sub-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    line-height: 1.25;
    font-size: 16px;
  }

  .contacts__city {
    margin-top: 15px;
  }
}

@media (min-width: 1400px) {
  .contacts {
    width: 100vw;
  }

  .contacts .content-section__wrapper {
    align-items: flex-start;
  }

  .contacts__main {
    z-index: 20;
    padding: 65px 75px;
    width: 570px;
    background: var(--palette-bg-secondary);
  }
}
