.content-section {
  position: relative;
  display: flex;
  width: 100%;
}

.content-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 87%;
}

@media (min-width: 768px) {
  .content-section__wrapper {
    width: 92%;
  }
}

@media (min-width: 1024px) {
  .content-section__wrapper {
    width: 83%;
  }
}
