.form-additionally {
  margin-bottom: 20px;
}

.form-additionally .form-section__title:after {
  left: 164px;
}

.form-additionally__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
