.form-contacts .form-section__title:after {
  left: 204px;
  top: -8px;
}

@media (min-width: 768px) {
  .form-contacts .form-section__title {
    flex-direction: row;
  }

  .form-contacts .form-section__title:after {
    left: 555px;
    top: 4px;
  }
}
