.form-submit .button {
  margin-bottom: 20px;
}

.form-submit__title {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  color: var(--text-color-secondary);
}
