.form-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-profile__data {
  margin-bottom: 23px;
}

.form-profile__type {
  width: 100vw;
  padding: 7px 0 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

@media (min-width: 768px) {
  .form-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-profile__data {
    margin-bottom: 72px;
  }

  .form-profile__type {
    width: 100%;
    padding: 0;
    border: none;
  }

  .form-profile__type .form-section__wrapper {
    border: 1px solid #ededed;
    padding: 11px 27px 24px;
  }
}

@media (min-width: 1024px) {
  .form-profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 83%;
  }

  .form-profile__data {
    width: 47%;
    margin-bottom: 0;
  }

  .form-profile__data .form-section__wrapper {
    width: 100%;
  }

  .form-profile__type {
    width: 47%;
  }

  .form-profile__type .form-section__wrapper {
    width: 100%;
  }
}
