.ingredients {
  margin-bottom: 35px;
}

.ingredients__header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.ingredients__title {
  position: relative;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 30px;
}

.ingredients__title:before {
  display: none;
  content: '';
  position: absolute;
  left: calc(-20px - 100%);
  border-bottom: 3px solid var(--palette-bg-tertiary);
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
}

.ingredients__title:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 244px;
  border-bottom: 3px solid var(--palette-bg-tertiary);
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
}

.ingredients__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ingredients__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.ingredients__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 290px;
  background: url("../img/gift/gift-photo--mobile.jpg") no-repeat;
  background-size: cover;
}

.ingredients__banner-image {
  margin-bottom: 60px;
}

.ingredients__banner-text {
  width: 55%;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color-tertiary);
}
