.map__wrapper div,
.map__wrapper iframe {
  height: 362px !important;
}

@media (min-width: 768px) {
  .map__wrapper div,
  .map__wrapper iframe {
    height: 396px !important;
  }
}

@media (min-width: 1400px) {
  .map {
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -100vw;
    background: var(--palette-bg-primary);
  }

  .map__wrapper div,
  .map__wrapper iframe {
    height: 400px !important;
  }
}
