.results {
  padding-bottom: 40px;
  background: $palette-bg-primary;
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results__text {
  margin-bottom: 25px;
  font-family: $font-family-secondary;
  font-size: 14px;
  color: $text-color-secondary;
  line-height: 1.3;
}

.results__showing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.results__showing-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.results__showing-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.results__showing-item-wrapper {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  background: $palette-bg-primary;
}

.results__showing-title {
  width: 60px;
  text-align: center;
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 0.9;
  color: $text-color-secondary;
}

.results__showing-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  font-size: 24px;
  color: $text-color-primary;
  text-transform: uppercase;
}

.results__showing-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: $font-family-primary;
  font-size: 14px;
  color: $text-color-primary;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .results {
    padding-bottom: 0;
    background: none;
  }

  .results__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.5;
  }

  .results__showing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .results__showing-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 366px;
  }

  .results__showing-item {
    width: 160px;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .results__showing-item-wrapper {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background: $palette-bg-secondary;
  }

  .results__showing-title {
    width: fit-content;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
  }

  .results__showing-value {
    font-size: 30px;
    color: $text-color-primary--tablet;
  }

  .results__showing-cost {
    width: 180px;
    text-align: right;
    font-size: 20px;
    color: $text-color-primary--tablet;
  }
}
