.results {
  padding-bottom: 40px;
  background: var(--palette-bg-primary);
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results__text {
  margin-bottom: 25px;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  color: var(--text-color-secondary);
  line-height: 1.3;
}

.results__showing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.results__showing-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.results__showing-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.results__showing-item-wrapper {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  background: var(--palette-bg-primary);
}

.results__showing-title {
  width: 60px;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 12px;
  line-height: 0.9;
  color: var(--text-color-secondary);
}

.results__showing-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: 24px;
  color: var(--text-color-primary);
  text-transform: uppercase;
}

.results__showing-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-family-primary);
  font-size: 14px;
  color: var(--text-color-primary);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .results {
    padding-bottom: 0;
    background: none;
  }

  .results__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.5;
  }

  .results__showing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .results__showing-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 366px;
  }

  .results__showing-item {
    width: 160px;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .results__showing-item-wrapper {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background: var(--palette-bg-secondary);
  }

  .results__showing-title {
    width: fit-content;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
  }

  .results__showing-value {
    font-size: 30px;
    color: var(--text-color-primary--tablet);
  }

  .results__showing-cost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 180px;
    font-size: 20px;
    color: var(--text-color-primary--tablet);
  }
}

@media (min-width: 1400px) {
  .results {
    padding-bottom: 0;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  }

  .results .content-section__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .results__text {
    width: 435px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .results__showing {
    flex-direction: column;
    align-items: flex-start;
  }

  .results__showing-wrapper {
    margin-bottom: 45px;
  }

  .results__showing-item-wrapper {
    background: var(--palette-bg-primary);
  }

  .results__showing-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    text-align: left;
  }
}
